.Title {
  font-size: 3rem;
}

h1 {
  margin-bottom: 3rem;
  text-decoration: underline;
  font-weight: 900;
}

span {
  margin: 5rem 0;
}

h1,
h2,
h3 {
  text-align: center;
}

li {
  list-style: square;
}

.ColourError {
  color: yellow;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(2);
  }

  50% {
    transform: scale(0.5);
  }

  75% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

.ErrorAnimation {
  animation: zoomInOut infinite;
}
